@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nunito';
    src: local('Nunito'), url('./assets/fonts/Nunito/Nunito-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: bold;
    src: local('Nunito'), url('./assets/fonts/Nunito/Nunito-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    src: local('Nunito'), url('./assets/fonts/Nunito/Nunito-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: bold;
    font-style: italic;
    src: local('Nunito'), url('./assets/fonts/Nunito/Nunito-BoldItalic.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

#root {
    min-height: 100vh;
}