@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nunito';
    src: local('Nunito'), url('./assets/fonts/Nunito/Nunito-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: bold;
    src: local('Nunito'), url('./assets/fonts/Nunito/Nunito-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    src: local('Nunito'), url('./assets/fonts/Nunito/Nunito-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: bold;
    font-style: italic;
    src: local('Nunito'), url('./assets/fonts/Nunito/Nunito-BoldItalic.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.app {
    --nav_logo: url("/src/assets/img/logo_lightbg.webp");
}

.app[data-theme="dark"] {
    --nav_logo: url("/src/assets/img/logo_darkbg.webp");
}

.nav_logo {
    content: var(--nav_logo);
}

#root {
    min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
    .theme {
      color: #FFFFFF;
      background-color: #170206;
    }
}

input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
}